{{ partial "header" . }}

<div class="container {{ .Title }} {{ .Section | urlize }}">
  <h1 class="center-align secondary-color-text">{{ .Title }}</h1>
  <ul class="faq">
    {{ range $index, $p := .Pages.ByWeight }}
    {{ if ne $index 0}}
    <hr>
    {{ end }}
    <div class="faq-question">
      <li class="secondary-color-text faq-title">{{ $p.Title }}</li>
      <ul>
        <span class="flow-text faq-content context-text secondary-color-text">{{ $p.Content }}</span>
      </ul>
    </div>
    {{ end }}
  </ul>

{{ partial "footer" . }}
