{{ partial "header" . }}
<div class="front-page">
  {{ if isset . "Content"}}
  <div class="row page-content">
    <div class="col s12 secondary-color-text content-text">
      {{ .Content }}
    </div>
  </div>
  {{ end }}
  {{ if isset . "Content"}}
  <hr>
  {{ end }}
  {{ with .Site.GetPage "section" "front_page" }}
  {{ range $index, $s := .Pages }}
  {{ if $index }}
  <hr>
  {{ end }}
  <div class="row page-content">
    <a class="anchor" id="{{ $s.Params.anchor|default $s.Title|urlize}}"></a>
    <p class="title center-align" >{{ $s.Title }}</p>
    {{ with $s.Content }}
    <div class="details">
      {{ .|markdownify }}
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ partial "footer" . }}
